.gender__select {
  position: relative;

  width: 100%;
  height: 2rem;
  overflow: hidden;
}

.gender__male,
.gender__female {
  position: absolute;
  top: 0;

  width: 50%;
  height: 1rem;
  padding: 0.5rem 0;

  text-align: center;
}

.gender__male {
  left: 0;
}

.gender__female {
  right: 0;
}
